@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth !important;
  font-family: 'Raleway', sans-serif ,'Dm Sans', sans-serif;
}

@layer base {
  body {
    @apply bg-white text-black tracking-wide
  }

}
@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(80px);
    }
    100% {
      opacity: 2;
      transform: translateY(0);
    }
  }
@keyframes fadeInDown {
        0% {
        opacity: 0;
        transform: translateY(-80px);
        }
        100% {
        opacity: 2;
        transform: translateY(0);
        }
    }
@keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-80px);
    }
    100% {
      opacity: 2;
      transform: translateX(0);
    }
  }
    
@keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(80px);
    }
    100% {
      opacity: 2;
      transform: translateX(0);
    }
  }
  
  .animate-fadeInUp {
    animation: fadeInUp 0.6s ease-in-out;
  }
  .animate-fadeInDown{
    animation: fadeInDown 0.6s ease-in-out;
  }
  .animate-fadeInRight{
    animation: fadeInRight 0.6s ease-in-out;
  }
    .animate-fadeInLeft{
        animation: fadeInLeft 0.6s ease-in-out;
    }
  
/* styles/globals.css */

* {
  cursor: none !important; 
  scroll-behavior: smooth;  
}

.custom-cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 16px;
  background-color: black;
  opacity: 0.4;
  z-index: 999;
  pointer-events: none;
}

.nav::after{
@apply content-[''] bg-blue-500 h-[3px] w-[0%] left-0 -bottom-[5px] rounded-xl absolute duration-500
}
.nav:hover::after{
  @apply w-[100%]
}

